*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #030712;
  color: #f3f4f6;
  padding-block: 80px;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  padding-inline: 60px;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider__item {
  flex: 0 0 25%;
  position: relative;
  padding-right: 4px;
}

.slider__item > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.absolute__item {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px;
  border-radius: 4px;
}
