*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #030712;
  color: #f3f4f6;
  padding-block: 5rem;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

svg {
  display: block;
  width: 40px;
  height: 40px;
}

.container {
  position: relative;
  padding-inline: 4rem;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider__item {
  flex: 0 0 25%;
  position: relative;
  padding-right: 0.25rem;
}

.slider__item > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.absolute__item {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

/* arrow button classes */

.button-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.button-wrapper:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
}

.container:hover .button-wrapper {
  opacity: 1;
}

.button-wrapper > svg {
  color: #f3f4f6;
  width: 40px;
  height: 40px;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}
